* {
    box-sizing: border-box;
}

.Logo {
    padding: 25px;
    font-size: 30px;
    font-weight: 700;
    width: 200px;
    color: #333;
    font-family: 'Architects Daughter', cursive;

}

.Logo a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.Logo a:hover {
    color: #333;
}

.Header {
    grid-area: h;
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: darkgray;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.dropbtn {
    background-color: darkgray;
    color: white;
    padding: 20.5px;
    border: none;
    font-family: "Candara Light";
    font-size: 32px;
}

.dropbtn img {
    width: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.dropdown label {
    cursor: pointer
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgba(25, 25, 25);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown_content a:hover {background-color: cadetblue;}

.dropbtn:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown_content {display: block; }

.dropdown:hover .dropbtn {background-color: darkgray; }






headerCheckBox {
    width: 350px;
    display: flex;
    position: inherit;
    float: right;
    padding: 15px 25px 10px 25px;
    font-size: 30px;
    font-weight: 700;
    color:#333;
    font-family: 'Architects Daughter', cursive;
    justify-content: space-between;
    cursor: pointer;
}

headerLogin {
    position: relative;
    padding-top: 10px;
}

headerCheckBox img {
    width: 70px;
    border: 1px solid black;
    border-radius: 50rem;
}

list {
    transform: rotate(90deg);
}