.main {
    grid-area: n;
    background-color: dimgray;
    min-height: 880px;
}


.item {
    border-bottom: 2px solid #333;
    padding: 15px 15px 15px 15px;
    outline: none;
    cursor: pointer;
    user-select: none;
}


.item a{
    color:#fff;
    text-decoration: none;
}


.item a.active {
    color: gold;
}

.item:hover{
    color: gold;
    background: cadetblue;
}