.main {
    grid-area: n;
    height: 100%;
}

.nav {
    height: auto;
    background-color: rgba(25, 25, 25);
    padding: 0;
}

.item {
    border-bottom: 2px solid #333;
    padding: 15px 15px 15px 15px;
    outline: none;
    cursor: pointer;
    user-select: none;
}


.item a{
    color:#fff;
    text-decoration: none;
}


.item a.active {
    color: gold;
}

.item:hover{
    color: gold;
    background: cadetblue;
}