.app-wrapper {
    display: grid;
    width: 1520px;
    margin: 0 auto;
    grid-template-areas:
  "h h"
  "n c"
  "f f";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #456;
}








